 body{

        font-family: "Geogia", "Times New Roman", Times, serif;
        font-style: italic;
        
        border-color:black;
        border-width: 1px;
<<<<<<< HEAD
       
        background-image: url("FBG19.jpg");
        background-size: 100%;
       

}
.section-header{
    text-align:center;
}
.present-section{
   background-color: blue;
}
.last{
    text-align:center;
}
=======
        border-style: solid;
        background-image: url("light.jpg");
        background-size: 100%;
       

        
 }
>>>>>>> 1973f886bd985a42a97c7772391aa958d1c46c4c
